@model materialsurplus.Models.Materialsurplus

@{
    ViewData["Title"] = "Create";
}

<h4>Material Surplus</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-md-6">
                    <div class="form-group" style="display: none;">
                        <label asp-for="Tgl_input" class="control-label"></label>
                        <input asp-for="Tgl_input" class="form-control" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                        <span asp-validation-for="Tgl_input" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Tipe </label>
                         <select 
                            asp-items="@( new SelectList(ViewBag.Tipes,"Kode_tipe","Nama_tipe"))" 
                            class="form-control"></select>
                        <span asp-validation-for="Source_material" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Sub Tipe </label>
                         <select 
                            asp-items="@( new SelectList(ViewBag.Subtipes,"Kode_subtipe","Sub_tipe"))" 
                            class="form-control"></select>
                        <span asp-validation-for="Source_material" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Source_material" class="control-label"></label>
                       
                         <select asp-for="Source_material"
                            asp-items="@( new SelectList(ViewBag.Materials,"Nama_material","Nama_material"))" 
                            class="form-control"></select>
                        <span asp-validation-for="Source_material" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="display: none;">
                        <label asp-for="Material_no" class="control-label"></label>
                        <input asp-for="Material_no" class="form-control" value="A0106210001"/>
                        <span asp-validation-for="Material_no" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="display: none;">
                        <label asp-for="Old_material" class="control-label"></label>
                        <input asp-for="Old_material" class="form-control" value="-"/>
                        <span asp-validation-for="Old_material" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Short_desc" class="control-label"></label>
                        <input asp-for="Short_desc" class="form-control" />
                        <span asp-validation-for="Short_desc" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Qty" class="control-label"></label>
                        <input asp-for="Qty" class="form-control" type="number"/>
                        <span asp-validation-for="Qty" class="text-danger"></span>
                    </div>
                    
            </div>
            <div class="col-md-6">
                <div class="form-group">
                        <label asp-for="Nilai" class="control-label"></label>
                        <input asp-for="Nilai" class="form-control" type="number"/>
                        <span asp-validation-for="Nilai" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <label asp-for="Uom" class="control-label"></label>
                    <select asp-for="Uom"
                    asp-items="@( new SelectList(ViewBag.Departments,"Nama_uom","Nama_uom"))" 
                    class="form-control"></select>
                    <span asp-validation-for="Uom" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Posisi" class="control-label"></label>
                    
                    <select asp-for="Posisi" class="form-control">
                        <option value="Lantai">Lantai</option>
                        <option value="Rak">Rak</option>
                    </select>
                    <span asp-validation-for="Posisi" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Luas" class="control-label"></label>
                    <input asp-for="Luas" class="form-control" type="number"/>
                    <span asp-validation-for="Luas" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Sloc" class="control-label"></label>
                    <input asp-for="Sloc" class="form-control" type="number"/>
                    <span asp-validation-for="Sloc" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Sbin" class="control-label"></label>
                    <input asp-for="Sbin" class="form-control" type="number"/>
                    <span asp-validation-for="Sbin" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="File_foto" class="control-label"></label>
                    <div class="custom-file">
                        <input asp-for="File_foto" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="File_foto">Choose file</label>
                    </div>
                    <span asp-validation-for="File_foto" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-danger">Back</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
