@model materialsurplus.Models.Materialsurplus

@{
    ViewData["Title"] = "Create";
}

<style>
#hidden_div {
    display: none;
}
</style>

<h4>Material Surplus</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-md-6">
                    <div class="form-group" style="display: none;">
                        <label asp-for="Tgl_input" class="control-label"></label>
                        <input asp-for="Tgl_input" class="form-control" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                        <span asp-validation-for="Tgl_input" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Tipe </label>
                        <select 
                            asp-items="@( new SelectList(ViewBag.Tipes,"Kode_tipe","Nama_tipe"))" 
                            class="form-control" id="kabelart" oncha nge="update();" required>
                            <option value="" selected> Pilih </option>
                        </select>
                        <span asp-validation-for="Source_material" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Sub Tipe </label>
                         <select 
                            asp-items="@( new SelectList(ViewBag.Subtipes,"Kode_subtipe","Sub_tipe"))" 
                            class="form-control" id="steckertyp1" onchange="update();" required>
                            <option value="" selected> Pilih </option>
                        </select>
                        <span asp-validation-for="Source_material" class="text-danger"></span>
                    </div>

                    <select name="verwendung" id="verwendung" onchange="update();" style="display:none">
                        
                        </select>

                        <select name="anschlusstyp1" id="anschlusstyp1" onchange="update();" style="display:none">
                        
                        </select>
                        <input  style="display: none;" class="form-control" name="tgl" id="tgl" value="@DateTime.Today.ToString("MMyy")" />
                    <div class="form-group" style="display: none;">
                        <label asp-for="Source_material" class="control-label"></label>
                       
                         <select asp-for="Source_material"
                            asp-items="@( new SelectList(ViewBag.Materials,"Nama_material","Nama_material"))" 
                            class="form-control"></select>
                        <span asp-validation-for="Source_material" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="display: none;">
                        <label asp-for="Material_no" class="control-label"></label>
                        <input asp-for="Material_no" class="form-control" value="" id="kabelname"/>
                        <span asp-validation-for="Material_no" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="display: none;">
                        <label asp-for="Old_material" class="control-label"></label>
                        <input asp-for="Old_material" class="form-control" value="-"/>
                        <span asp-validation-for="Old_material" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Short_desc" class="control-label"></label>
                        <input asp-for="Short_desc" class="form-control" />
                        <span asp-validation-for="Short_desc" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Qty" class="control-label"></label>
                        <input asp-for="Qty" class="form-control" type="number"/>
                        <span asp-validation-for="Qty" class="text-danger"></span>
                    </div>
                    
            </div>
            <div class="col-md-6">
                <div class="form-group">
                        <label asp-for="Nilai" class="control-label"></label>
                        <input asp-for="Nilai" class="form-control" type="number"/>
                        <span asp-validation-for="Nilai" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <label asp-for="Uom" class="control-label"></label>
                    <select asp-for="Uom"
                    asp-items="@( new SelectList(ViewBag.Departments,"Nama_uom","Nama_uom"))" 
                    class="form-control"></select>
                    <span asp-validation-for="Uom" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Posisi" class="control-label"></label>
                    
                    <select asp-for="Posisi" class="form-control" onchange="showDiv(this)">
                        <option value="Lantai">Lantai</option>
                        <option value="Rak">Rak</option>
                    </select>
                    <span asp-validation-for="Posisi" class="text-danger"></span>
                </div>
                <div class="form-group" id="show_div">
                    <label asp-for="Luas" class="control-label">  Luas (M2)</label>
                    <input asp-for="Luas" class="form-control" type="number"/>
                    <span asp-validation-for="Luas" class="text-danger"></span>
                </div>
                <div class="form-group" id="hidden_div">
                    <label asp-for="Luas" class="control-label">  Kolom</label>
                    <input asp-for="Luas" class="form-control" type="number"/>
                    <span asp-validation-for="Luas" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Sloc" class="control-label"></label>
                    <input asp-for="Sloc" class="form-control" type="number"/>
                    <span asp-validation-for="Sloc" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Sbin" class="control-label"></label>
                    <input asp-for="Sbin" class="form-control" type="number"/>
                    <span asp-validation-for="Sbin" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="File_foto" class="control-label"></label>
                    <div class="custom-file">
                        <input asp-for="File_foto" class="custom-file-input" id="customFile" type="file">

                         @* <input asp-for="File_foto" class="custom-file-input" id="customFile">   *@
                        <label class="custom-file-label" for="File_foto">Choose file</label>
                    </div>
                    <span asp-validation-for="File_foto" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-danger">Back</a>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">  
    // Add the following code if you want the name of the file appear on select  
    $(".custom-file-input").on("change", function () {  
        var fileName = $(this).val().split("\\").pop();  
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);  
    });  
</script>  
<script type="text/javascript">
function showDiv(select){
   if(select.value=='Rak'){
    document.getElementById('hidden_div').style.display = "block";
    document.getElementById('show_div').style.display = "none";
   } else{
    document.getElementById('hidden_div').style.display = "none";
    document.getElementById('show_div').style.display = "block";
   }
} 

function update() {
    var kabelname ;
    if(document.getElementById("kabelart").value === "") {  
        kabelname = "";
    }
    else {
        kabelname = document.getElementById("kabelart").value;

        if(document.getElementById("steckertyp1").value!== ""){
            kabelname += "" + document.getElementById("steckertyp1").value + document.getElementById("tgl").value + Math.floor(Math.random() * 999);
            
        }
        else {
                kabelname += "" + document.getElementById("verwendung").value + document.getElementById("tgl").value + Math.floor(Math.random() * 999);
        }

    }                
    document.getElementById("kabelname").value = kabelname;                
}
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
